*.a
*.app
*.cmd
*.d
*.dSYM/
*.dll
*.dylib
*.elf
*.exe
*.exp
*.gcda
*.gch
*.gcno
*.hex
*.i*86
*.idb
*.ilk
*.ko
*.la
*.lib
*.lo
*.log
*.map
*.mod*
*.o
*.obj
*.out
*.pch
*.pdb
*.pdf
*.so
*.so.*
*.su
*.txt
*.vscode
*.x86_64
*vgcore*
.tmp_versions/
42sh
Mkfile.old
Module.symvers
alltests
dkms.conf
maps
modules.order
my_divzero
my_segfault
tester.sh
testerpro.sh
tests
tests2
